@tailwind base;
@tailwind components;
@tailwind utilities ;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  /* background: linear-gradient(180deg, #1a0136, #0a0a0a); */
  height: 175vh;
}
body {
  flex: 1; /* Take remaining space */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(to right, #280a6c, #351d5d, #0c0c18);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.movie-card {
  position: relative;
  margin: auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}


.movie-content {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  
  padding: 15px;
  border-radius: 10px;
}

.movie-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.movie-content p {
  font-size: 16px;
  max-width: 60%;
}

.buttons {
  margin-top: 10px;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.watch {
  background-color:#4A2090;
  color: white;
}

.watch:hover {
  background-color:#4A2090 ;
}

.favorite {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.favorite:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: #4A2090;
  border-radius: 50%;
  padding: 10px 15px;
}

.prev-btn {
  left: 15px;
}

.next-btn {
  right: 15px;
}

.prev-btn:hover, .next-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
